--extra-index-url https://download.openmmlab.com/mmcv/dist/cu118/torch2.0/index.html
https://download.openmmlab.com/mmcv/dist/cu118/torch2.0.0/mmcv_full-1.7.2-cp38-cp38-manylinux1_x86_64.whl

scikit-image
scipy
scikit-learn
smplx==0.1.28
tqdm
yacs
numba
opencv-python
tensorboardx
filterpy
cython
chumpy
Pillow
trimesh
pyrender
matplotlib
json_tricks
torchgeometry
einops
joblib
boto3
requests
easydict
pycocotools
plyfile
timm
pyglet
mmdet==2.26.0